._index_layout {
  margin: 0 auto;
  width: 330px;
  box-sizing: border-box;
}

._center_layout {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 500px) {
  ._index_layout {
    width: 100%;
    padding: 0 50px;
  }
}